Part 1: Climate Analysis and Exploration
In this section, you’ll use Python and SQLAlchemy to perform basic climate analysis and data exploration of your climate database. Complete the following tasks by using SQLAlchemy ORM queries, Pandas, and Matplotlib.


Use the provided starter notebook and hawaii.sqlite files to complete your climate analysis and data exploration.


Use SQLAlchemy’s create_engine to connect to your SQLite database.


Use SQLAlchemy’s automap_base() to reflect your tables into classes and save a reference to those classes called Station and Measurement.


Link Python to the database by creating a SQLAlchemy session.


Important: Don't forget to close out your session at the end of your notebook.

In [29]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
import pandas as pd

In [8]:
# Create engine using the database file
engine = create_engine(f"sqlite:////Users/swa/Documents/UC_Irvine/Homework/10-Advanced-Data-Storage-and-Retrieval/Instructions/Resources/hawaii.sqlite") 
conn = engine.connect()

# Lesson 2.6
# Declare a Base using `automap_base()`
Base = automap_base()

# Use the Base class to reflect the database tables
Base.prepare(engine, reflect=True)

# Print all of the classes mapped to the Base
Base.classes.keys()

# Assign the classes to variables called Station and Measurement
Station = Base.classes.station
Measurement = Base.classes.measurement

# Create a session
session = Session(engine)

Precipitation Analysis
To perform an analysis of precipitation in the area, do the following:


Find the most recent date in the dataset.


Using this date, retrieve the previous 12 months of precipitation data by querying the 12 previous months of data. Note: Do not pass in the date as a variable to your query.


Select only the date and prcp values.


Load the query results into a Pandas DataFrame, and set the index to the date column.


Sort the DataFrame values by date.


Plot the results by using the DataFrame plot method, as shown in the following image:


Use Pandas to print the summary statistics for the precipitation data.

In [52]:
# Find the most recent date in the dataset.

# Using this date, retrieve the previous 12 months of precipitation data by querying the 12 previous months of data. Note: Do not pass in the date as a variable to your query.

# Select only the date and prcp values.
from datetime import datetime
from dateutil. relativedelta import relativedelta

measurements = session.query(Measurement)
most_recent_date = measurements[-1].date
previous_year = datetime.fromisoformat(most_recent_date) - relativedelta(years=1)
print(most_recent_date)
print(previous_year)
                                    
measurements = session.query(Measurement).filter(datetime.fromisoformat(measurement.date) >= previous_year).all()
df = pd.DataFrame()
for measurement in measurements:
    print(measurement.date)
    print(measurement.prcp)
    df.append({'Date' : measurement.date, 'PRCP' : measurement.prcp}, ignore_index=True)
display(df)

2017-08-23
2016-08-23 00:00:00

Empty DataFrame
Columns: []
Index: []

In [37]:
# # Use the session to query Stations table and display the first 5 locations
# for row in session.query(Stations, Stations.location).limit(5).all():
#     print(row)

# # Use the session to query Measurements table and display the first 5 locations
# for row in session.query(Measurements, Measurements.location).limit(5).all():
#     print(row)
    
# data = pd.read_sql("SELECT * FROM Census_Data", conn)

# stations = session.query(Station) for station in stations:
# print(station.name)

Station Analysis
To perform an analysis of stations in the area, do the following:


Design a query to calculate the total number of stations in the dataset.


Design a query to find the most active stations (the stations with the most rows).


List the stations and observation counts in descending order.


Which station id has the highest number of observations?


Using the most active station id, calculate the lowest, highest, and average temperatures.


Hint: You will need to use functions such as func.min, func.max, func.avg, and func.count in your queries.

In [ ]:
# Design a query to calculate the total number of stations in the dataset.
stations = session.query(Station)

# Design a query to find the most active stations (the stations with the most rows).
measurements = session.query(Measurement)

# List the stations and observation counts in descending order.

# Which station id has the highest number of observations?

# Using the most active station id, calculate the lowest, highest, and average temperatures.
# Hint: You will need to use functions such as func.min, func.max, func.avg, and func.count in your queries.

Design a query to retrieve the previous 12 months of temperature observation data (TOBS).


Filter by the station with the highest number of observations.


Query the previous 12 months of temperature observation data for this station.


Plot the results as a histogram with bins=12, as shown in the following image


Close out your session.

In [ ]:
# Design a query to retrieve the previous 12 months of temperature observation data (TOBS).


# Filter by the station with the highest number of observations.


# Query the previous 12 months of temperature observation data for this station.


# Plot the results as a histogram with bins=12, as shown in the following image